<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <link rel="stylesheet" href="../../public/estilos.css">
    <script src="../../public/header.js" defer></script>

    <title>Jogo de Perguntas</title>

</head>

<body>
    <header id="header"></header>
   
    <main>
        <div class="container">
            <h2>Jogo de Perguntas</h2>
            <div id="quiz">
                <div id="textoApoio">
                </div>
                <div id="imagemsQuestao"></div>
                <div class="questao" id="questao"></div>
                <div id="options">

                </div>
            </div>
            <div id="rodape" class="result">
                <p id="result">Pontuação: 0</p>
                <button id="proximaPergunta" onclick="loadQuestion()">proximo</button>

            </div>
            <button id="restart" onclick="restartGame()">Jogar Novamente</button>
        </div>
    </main>
    <script src="../../public/ciencias-natureza.js">
    



    </script>
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox.min.js"></script>


</body>

</html>