<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <link rel="stylesheet" href="/public/css/estilos.css">

    <title>Jogo de Perguntas</title>

</head>

<body>
    <header>
        <nav>
            <img id="logo" src="../../public/ChatGPT Image 4_05_2025, 20_03_41.png" alt="">
            <ul>
                <li>ENEM
                 <div id="subMenu">
                       
                              <a href="ciencias-natureza-perguntas.html">  Ciências da Natureza</a><br>
                           
                                <a href="ciencias-humanas-perguntas.html">   Ciências Humanas </a><br>
                          
                                <a href="matematica-perguntas.html"> Matematica </a><br>
                           
                                <a href="linguagens-perguntas.html">  linguagens </a>
                       
                    </div>
                </li>
                <li>UEL
                 <div id="subMenu">
                       
                              <a href="ciencias-natureza-perguntas.html">  Ciências da Natureza</a><br>
                           
                                <a href="ciencias-humanas-perguntas.html">   Ciências Humanas </a><br>
                          
                                <a href="matematica-perguntas.html"> Matematica </a><br>
                           
                                <a href="linguagens-perguntas.html">  linguagens </a>
                       
                    </div>
                </li>
                <li>USP
                 <div id="subMenu">
                       
                              <a href="ciencias-natureza-perguntas.html">  Ciências da Natureza</a><br>
                           
                                <a href="ciencias-humanas-perguntas.html">   Ciências Humanas </a><br>
                          
                                <a href="matematica-perguntas.html"> Matematica </a><br>
                           
                                <a href="linguagens-perguntas.html">  linguagens </a>
                       
                    </div>
                </li>
                <li>UEM
                    <div id="subMenu">
                          
                                 <a href="ciencias-natureza-perguntas.html">  Ciências da Natureza</a><br>
                              
                                   <a href="ciencias-humanas-perguntas.html">   Ciências Humanas </a><br>
                             
                                   <a href="matematica-perguntas.html"> Matematica </a><br>
                              
                                   <a href="linguagens-perguntas.html">  linguagens </a>
                          
                       </div>
                   </li>

            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Jogo de Perguntas</h2>
            <div id="quiz">
                <div id="textoApoio">
                </div>
                <div id="imagemsQuestao"></div>
                <div class="questao" id="questao"></div>
                <div id="options">

                </div>
            </div>
            <div id="rodape" class="result">
                <p id="result">Pontuação: 0</p>
                <button id="proximaPergunta" onclick="loadQuestion()">proximo</button>

            </div>
            <button id="restart" onclick="restartGame()">Jogar Novamente</button>
        </div>
    </main>
    <script src="/public/scipts/ENEM/matematica.js">
    </script>

</body>

</html>